body {
	background-color: #ffffff;
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.1875;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(../font/MaterialIcons-Regular.woff2) format('woff2'),
		url(../font/MaterialIcons-Regular.woff) format('woff'),
		url(../font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	display: inline-block;
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-rendering: optimizeLegibility;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
}
@-webkit-keyframes slide-up-in {
	0% {
		-webkit-transform-origin: 0 0;
		-webkit-transform: translate(0px, 100%) rotate(1deg);
		opacity: 0;
	}
	100% {
		-webkit-transform-origin: 0 0;
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		opacity: 1;
	}
}
@-moz-keyframes slide-up-in {
	0% {
		-moz-transform-origin: 0 0;
		-moz-transform: translate(0px, 100%) rotate(1deg);
		opacity: 0;
	}
	100% {
		-moz-transform-origin: 0 0;
		-moz-transform: translate(0px, 0px) rotate(0deg);
		opacity: 1;
	}
}
@keyframes slide-up-in {
	0% {
		opacity: 0;
		transform-origin: 0 0;
		transform: translate(0px, 100%) rotate(1deg);
	}
	100% {
		opacity: 1;
		transform-origin: 0 0;
		transform: translate(0px, 0px) rotate(0deg);
	}
}
a {
	color: #0000ff;
	text-decoration: underline;
}
a:visited {
	color: #800080;
}
a:active {
	color: #ff0000;
}
a:hover {
	color: #0000ff;
	text-decoration: underline;
}
input:focus,
textarea:focus,
select:focus {
	outline: none;
}
#wb_header_nav {
	background-color: #f5f5f5;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: -webkit-sticky;
	position: sticky;
	table-layout: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 7776;
}
#header_nav {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 0px 6px 0px;
}
#header_nav > .col-1,
#header_nav > .col-2,
#header_nav > .col-3 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
#header_nav > .col-1,
#header_nav > .col-2,
#header_nav > .col-3 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#header_nav > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-end;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 16.66666667%;
	justify-content: flex-end;
	max-width: 16.66666667%;
	text-align: right;
}
#header_nav > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-end;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 75%;
	justify-content: flex-end;
	max-width: 75%;
	text-align: right;
}
#header_nav > .col-3 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 8.33333333%;
	justify-content: flex-start;
	max-width: 8.33333333%;
	text-align: left;
}
#header_nav > .col-3 > .col-3-padding {
	padding: 0px 0px 5px 0px;
}
@media (max-width: 0px) {
	#header_nav > .col-1,
	#header_nav > .col-2,
	#header_nav > .col-3 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#container1 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	background-color: #ffffff;
	background-image: url(../images/img1.jpg);
	background-position: left top;
	background-repeat: repeat-y;
	background-size: 100% 100%;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	position: relative;
}
#wb_IconFont2 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	vertical-align: top;
}
#wb_IconFont2:hover {
	background-color: transparent;
	background-image: none;
	border: 0px solid #245580;
}
#IconFont2 {
	height: 22px;
	width: 30px;
}
.IconFont2 {
	display: inline-block;
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: normal;
	left: 0;
	line-height: 1;
	position: relative;
	top: 0;
}
.IconFont2:before {
	content: '\e547';
}
#IconFont2 i {
	color: #696969;
	display: inline-block;
	font-size: 22px;
	line-height: 22px;
	vertical-align: middle;
	width: 21px;
}
#wb_IconFont2:hover i {
	color: #dcdcdc;
}
#container2 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 0px 10px 10px;
	position: relative;
}
#wb_caja_diseño3 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#caja_diseño3 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: -10px 0px -10px 0px;
}
#caja_diseño3 > .col-1,
#caja_diseño3 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
#caja_diseño3 > .col-1,
#caja_diseño3 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#caja_diseño3 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#caja_diseño3 > .col-1 > .col-1-padding {
	padding: 30px 55px 0px 55px;
}
#caja_diseño3 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-end;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: flex-end;
	max-width: 50%;
	text-align: right;
}
@media (max-width: 1052px) {
	#caja_diseño3 > .col-1,
	#caja_diseño3 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_Image1 {
	-webkit-align-self: auto;
	-webkit-flex-grow: 0;
	-webkit-flex-shrink: 0;
	align-self: auto;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0;
	vertical-align: top;
}
#Image1 {
	border: 0px solid #000000;
	display: inline-block;
	height: auto;
	padding: 0;
	width: 568px;
}
#caja_tex5 {
	background-color: transparent;
	border: 1px solid #000000;
	display: inline-block;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	position: relative;
	text-align: left;
	width: 100%;
}
#caja_tex5 .blogitem {
	margin-bottom: 6px;
	padding: 0px;
	text-align: left;
}
#caja_tex5 .blogdate {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}
#caja_tex5 .blogsubject,
#caja_tex5 .blogsubject a:link,
#caja_tex5 .blogsubject a:visited,
#caja_tex5 .blogsubject a:hover {
	color: #ffd700;
	font-family: Arial;
	font-size: 43px;
	font-weight: bold;
	text-decoration: none;
}
#caja_tex5 .blogcomments,
#caja_tex5 .blogcomments a:link,
#caja_tex5 .blogcomments a:visited,
#caja_tex5 .blogcomments a:hover {
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	text-decoration: underline;
}
#caja_tex5 .blogcomments {
	text-decoration: none;
}
#caja_tex5 .no-thumb {
	display: none;
}
#caja_tex5 .blogsubject {
	display: block;
	margin: 0;
	padding: 0;
}
#caja_tex5 .blogthumb {
	float: right;
	margin: 0 0 5px 0;
	padding: 0 5px 0 0;
}
#caja_tex5 .blogthumb img {
	border-width: 0px;
	height: auto;
	margin: 0px 0px 0px 0px;
	width: 120px;
}
#caja_tex5 .blogdate,
#caja_tex5 .blogcomments {
	display: none;
}
#caja_tex5 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	font-family: Arial;
	font-weight: normal;
	margin: 0;
}
#contenedor_caja_diseño3 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: flex-end;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 0px;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	position: relative;
}
.ThemeableMenu2 .hide {
	display: none !important;
}
.ThemeableMenu2 .show {
	display: block !important;
}
.ThemeableMenu2 .hidden {
	display: none !important;
	visibility: hidden !important;
}
.ThemeableMenu2 .nav {
	color: #2b2b2b;
	font-family: Arial;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
}
#ThemeableMenu2,
.ThemeableMenu2 .nav,
.ThemeableMenu2 * {
	box-sizing: border-box;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}
.ThemeableMenu2 .nav:before,
.ThemeableMenu2 .nav:after {
	content: ' ';
	display: table;
}
.ThemeableMenu2 .nav:after {
	clear: both;
}
.ThemeableMenu2 .nav a {
	text-decoration: none;
}
.ThemeableMenu2 .nav ul {
	margin-bottom: 10px;
	margin-top: 0;
}
.ThemeableMenu2 .nav ul ul {
	margin-bottom: 0;
}
.ThemeableMenu2 .container {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.ThemeableMenu2 .container:before,
.ThemeableMenu2 .container:after {
	content: ' ';
	display: table;
}
.ThemeableMenu2 .container:after {
	clear: both;
}
.ThemeableMenu2 .collapse {
	display: none;
}
.ThemeableMenu2 .collapse.in {
	display: block;
}
.ThemeableMenu2 .collapsing {
	-webkit-transition: height 0.35s ease;
	height: 0;
	overflow: hidden;
	position: relative;
	transition: height 0.35s ease;
}
.ThemeableMenu2 .caret {
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	display: inline-block;
	height: 0;
	margin-left: 4px;
	vertical-align: middle;
	width: 0;
}
.ThemeableMenu2 .dropdown {
	position: relative;
}
.ThemeableMenu2 .dropdown-toggle:focus {
	outline: 0;
}
.ThemeableMenu2 .dropdown-menu {
	background-clip: padding-box;
	background-color: #f5f5f5;
	background-image: none;
	border: 1px solid rgba(197, 197, 197, 1);
	border-radius: 0px;
	display: none;
	float: left;
	font-size: 16px;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: 100%;
	z-index: 1000;
}
.ThemeableMenu2 .dropdown-menu .divider {
	background-color: #c5c5c5;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
.ThemeableMenu2 .dropdown-menu > li > a {
	clear: both;
	color: #2b2b2b;
	display: block;
	line-height: 1.428571429;
	padding: 3px 20px 3px 20px;
	white-space: nowrap;
}
.ThemeableMenu2 .dropdown-menu > li > a:hover,
.ThemeableMenu2 .dropdown-menu > li > a:focus {
	background-color: #ededed;
	background-image: none;
	color: #2b2b2b;
	text-decoration: none;
}
.ThemeableMenu2 .dropdown-menu > .active > a,
.ThemeableMenu2 .dropdown-menu > .active > a:hover,
.ThemeableMenu2 .dropdown-menu > .active > a:focus {
	background-color: #f5f5f5;
	color: #fff;
	outline: 0;
	text-decoration: none;
}
.ThemeableMenu2 .open > .dropdown-menu {
	display: block;
}
.ThemeableMenu2 .open > a {
	outline: 0;
}
.ThemeableMenu2 .dropdown-header {
	color: #aeaeae;
	display: block;
	line-height: 1.428571429;
	padding: 3px 20px;
}
.ThemeableMenu2 .dropdown-backdrop {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 990;
}
.ThemeableMenu2 .nav > li {
	display: block;
	position: relative;
}
.ThemeableMenu2 .nav > li > a {
	display: block;
	padding: 10px 15px 10px 15px;
	position: relative;
}
.ThemeableMenu2 .nav .open > a,
.ThemeableMenu2 .nav .open > a:hover,
.ThemeableMenu2 .nav .open > a:focus {
	background-color: #ccc;
	border-color: #f5f5f5;
}
.ThemeableMenu2 .nav .nav-divider {
	background-color: #c5c5c5;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}
.ThemeableMenu2 .nav > li > a > img {
	max-width: none;
}
.ThemeableMenu2 .nav .caret {
	border-bottom-color: #f5f5f5;
	border-top-color: #f5f5f5;
}
.ThemeableMenu2 {
	background-color: #f5f5f5;
	background-image: none;
	border: 1px solid transparent;
	position: relative;
}
.ThemeableMenu2:before,
.ThemeableMenu2:after {
	content: ' ';
	display: table;
}
.ThemeableMenu2:after {
	clear: both;
}
.ThemeableMenu2 .navbar-header:before,
.ThemeableMenu2 .navbar-header:after {
	content: ' ';
	display: table;
}
.ThemeableMenu2 .navbar-header:after {
	clear: both;
}
.ThemeableMenu2-navbar-collapse {
	-webkit-overflow-scrolling: touch;
	overflow-x: visible;
}
.ThemeableMenu2-navbar-collapse:before,
.ThemeableMenu2-navbar-collapse:after {
	content: ' ';
	display: table;
}
.ThemeableMenu2-navbar-collapse:after {
	clear: both;
}
.ThemeableMenu2-navbar-collapse.in {
	overflow-y: auto;
}
.ThemeableMenu2 .navbar-toggle {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0px;
	float: right;
	padding: 11px 10px 10px 10px;
	position: relative;
}
.ThemeableMenu2 .navbar-toggle .icon-bar {
	border-radius: 1px;
	display: block;
	height: 2px;
	width: 22px;
}
.ThemeableMenu2 .navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.ThemeableMenu2 .navbar-nav {
	margin: 6px -15px;
}
.ThemeableMenu2 .navbar-nav > li > .dropdown-menu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
}
.ThemeableMenu2 .navbar-nav > li > a {
	color: #2b2b2b;
}
.ThemeableMenu2 .navbar-nav > li > a:hover,
.ThemeableMenu2 .navbar-nav > li > a:focus {
	background-color: #ededed;
	background-image: none;
	color: #2b2b2b;
	text-decoration: none;
}
.ThemeableMenu2 .navbar-nav > .active > a,
.ThemeableMenu2 .navbar-nav > .active > a:hover,
.ThemeableMenu2 .navbar-nav > .active > a:focus {
	background-color: #ededed;
	background-image: none;
	color: #2b2b2b;
}
.ThemeableMenu2 .navbar-toggle {
	border: 1px solid rgba(43, 43, 43, 0.1);
}
.ThemeableMenu2 .navbar-toggle:hover,
.ThemeableMenu2 .navbar-toggle:focus {
	background-color: transparent;
}
.ThemeableMenu2 .navbar-toggle .icon-bar {
	background-color: #696969;
}
.ThemeableMenu2-navbar-collapse {
	border-color: rgba(197, 197, 197, 1);
}
.ThemeableMenu2 .navbar-nav > .dropdown > a:hover .caret,
.ThemeableMenu2 .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #2b2b2b;
	border-top-color: #2b2b2b;
}
.ThemeableMenu2 .navbar-nav > .open > a,
.ThemeableMenu2 .navbar-nav > .open > a:hover,
.ThemeableMenu2 .navbar-nav > .open > a:focus {
	background-color: #ededed;
	background-image: none;
	color: #2b2b2b;
}
.ThemeableMenu2 .navbar-nav > .open > a .caret,
.ThemeableMenu2 .navbar-nav > .open > a:hover .caret,
.ThemeableMenu2 .navbar-nav > .open > a:focus .caret {
	border-bottom-color: #2b2b2b;
	border-top-color: #2b2b2b;
}
.ThemeableMenu2 .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #2b2b2b;
	border-top-color: #2b2b2b;
}
.ThemeableMenu2 .navbar-link {
	color: #2b2b2b;
}
.ThemeableMenu2 .navbar-link:hover {
	color: #2b2b2b;
}
.ThemeableMenu2 .navbar-header {
	color: #696969;
	height: 38px;
}
@media (min-width: 613px) {
	.ThemeableMenu2 .navbar-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	.ThemeableMenu2 .navbar-header {
		float: left;
	}
	.ThemeableMenu2-navbar-collapse {
		border-top: 0;
		box-shadow: none;
		width: auto;
	}
	.ThemeableMenu2-navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		overflow: visible !important;
		padding-bottom: 0;
	}
	.ThemeableMenu2-navbar-collapse.in {
		overflow-y: auto;
	}
	.ThemeableMenu2 .navbar-toggle {
		display: none;
	}
	.ThemeableMenu2 .navbar-nav {
		float: right;
		margin: 0;
	}
	.ThemeableMenu2 .navbar-nav > li {
		float: left;
	}
	.ThemeableMenu2 .container > .navbar-header,
	.ThemeableMenu2 .container > .ThemeableMenu2-navbar-collapse {
		margin-left: 0;
		margin-right: 0;
	}
	.ThemeableMenu2 .navbar-nav > .dropdown > a:hover .caret,
	.ThemeableMenu2 .navbar-nav > .dropdown > a:focus .caret {
		border-bottom-color: #ffffff;
		border-top-color: #ffffff;
	}
}
@media (max-width: 613px) {
	.ThemeableMenu2 {
		border-color: rgba(245, 245, 245, 1);
	}
	.ThemeableMenu2 .navbar-nav {
		background-color: #f5f5f5;
		background-image: none;
		margin: 0;
	}
	.ThemeableMenu2 .navbar-nav .open .dropdown-menu {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		float: none;
		margin-top: 0;
		position: static;
		width: auto;
	}
	.ThemeableMenu2 .navbar-nav .open .dropdown-menu > li > a,
	.ThemeableMenu2 .navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.ThemeableMenu2 .navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.ThemeableMenu2 .navbar-nav .open .dropdown-menu > li > a:hover,
	.ThemeableMenu2 .navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}
}
@media (min-width: 613px) {
	.ThemeableMenu2 {
		background-color: #f5f5f5;
		background-image: none;
		border-color: rgba(245, 245, 245, 1);
		border-radius: 0px;
	}
	.ThemeableMenu2 .navbar-nav > li > a {
		color: #696969;
	}
	.ThemeableMenu2 .navbar-nav > li > a:hover,
	.ThemeableMenu2 .navbar-nav > li > a:focus {
		background-color: #343a40;
		background-image: none;
		color: #ffffff;
	}
	.ThemeableMenu2 .navbar-nav > .active > a,
	.ThemeableMenu2 .navbar-nav > .active > a:hover,
	.ThemeableMenu2 .navbar-nav > .active > a:focus {
		background-color: #343a40;
		background-image: none;
		color: #ffffff;
	}
	.ThemeableMenu2 .navbar-nav > .open > a,
	.ThemeableMenu2 .navbar-nav > .open > a:hover,
	.ThemeableMenu2 .navbar-nav > .open > a:focus {
		background-color: #343a40;
		background-image: none;
		color: #ffffff;
	}
	.ThemeableMenu2 .navbar-nav > .dropdown > a:hover .caret {
		border-bottom-color: #ffffff;
		border-top-color: #ffffff;
	}
	.ThemeableMenu2 .navbar-nav > .dropdown > a .caret {
		border-bottom-color: #696969;
		border-top-color: #696969;
	}
	.ThemeableMenu2 .navbar-nav > li.active > a > .caret,
	.ThemeableMenu2 .navbar-nav > li.active > a:hover > .caret,
	.ThemeableMenu2 .navbar-nav > li.active > a:focus > .caret {
		border-bottom-color: #ffffff;
		border-top-color: #ffffff;
	}
	.ThemeableMenu2 .navbar-nav > .open > a .caret,
	.ThemeableMenu2 .navbar-nav > .open > a:hover .caret,
	.ThemeableMenu2 .navbar-nav > .open > a:focus .caret {
		border-bottom-color: #ffffff;
		border-top-color: #ffffff;
	}
	.ThemeableMenu2 .navbar-link {
		color: #696969;
	}
	.ThemeableMenu2 .navbar-link:hover {
		color: #fff;
	}
}
#ThemeableMenu2-logo {
	float: left;
}
#ThemeableMenu2-logo img {
	border-width: 0;
	height: auto;
	max-width: 100%;
}
#ThemeableMenu2 i {
	font-size: 16px;
	left: 0;
	margin-right: 4px;
	position: relative;
	top: 0;
	width: 16px;
}
#wb_LayoutGrid2 {
	background-color: #f5f5f5;
	background-image: none;
	border: 0px solid rgba(211, 211, 211, 0.5);
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid2 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 970px;
	padding: 60px 0px 0px 0px;
}
#LayoutGrid2 > .col-1,
#LayoutGrid2 > .col-2,
#LayoutGrid2 > .col-3 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
#LayoutGrid2 > .col-1,
#LayoutGrid2 > .col-2,
#LayoutGrid2 > .col-3 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid2 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 33.33333333%;
	justify-content: center;
	max-width: 33.33333333%;
	text-align: center;
}
#LayoutGrid2 > .col-1 > .col-1-padding {
	padding: 40px 0px 40px 0px;
}
#LayoutGrid2 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 33.33333333%;
	justify-content: center;
	max-width: 33.33333333%;
	text-align: center;
}
#LayoutGrid2 > .col-2 > .col-2-padding {
	padding: 40px 0px 40px 0px;
}
#LayoutGrid2 > .col-3 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 33.33333333%;
	justify-content: center;
	max-width: 33.33333333%;
	text-align: center;
}
#LayoutGrid2 > .col-3 > .col-3-padding {
	padding: 40px 0px 40px 0px;
}
@media (max-width: 480px) {
	#LayoutGrid2 > .col-1,
	#LayoutGrid2 > .col-2,
	#LayoutGrid2 > .col-3 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#container9 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#wb_LayoutGrid8 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid8 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#LayoutGrid8 > .col-1,
#LayoutGrid8 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid8 > .col-1,
#LayoutGrid8 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid8 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#LayoutGrid8 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
@media (max-width: 480px) {
	#LayoutGrid8 > .col-1,
	#LayoutGrid8 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_Heading1 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-align: center;
}
#Heading1 {
	color: #696969;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}
#wb_caja_diseño1 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#caja_diseño1 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding: 0;
}
#caja_diseño1 > .col-1,
#caja_diseño1 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
#caja_diseño1 > .col-1,
#caja_diseño1 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#caja_diseño1 > .col-1 {
	-webkit-align-self: flex-start;
	-webkit-justify-content: center;
	align-self: flex-start;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 41.66666667%;
	justify-content: center;
	max-width: 41.66666667%;
	text-align: center;
}
#caja_diseño1 > .col-1 > .col-1-padding {
	padding: 100px 80px 0px 70px;
}
#caja_diseño1 > .col-2 {
	-webkit-align-self: flex-end;
	-webkit-justify-content: center;
	align-self: flex-end;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 58.33333333%;
	justify-content: center;
	max-width: 58.33333333%;
	text-align: center;
}
#caja_diseño1 > .col-2 > .col-2-padding {
	padding: 35px 0px 0px 0px;
}
@media (max-width: 800px) {
	#caja_diseño1 > .col-1,
	#caja_diseño1 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#caja_tex1 {
	background-color: transparent;
	border: 1px solid #000000;
	display: inline-block;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	position: relative;
	text-align: left;
	width: 100%;
}
#caja_tex1 .blogitem {
	margin-bottom: 6px;
	padding: 0px;
	text-align: left;
}
#caja_tex1 .blogdate {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}
#caja_tex1 .blogsubject,
#caja_tex1 .blogsubject a:link,
#caja_tex1 .blogsubject a:visited,
#caja_tex1 .blogsubject a:hover {
	color: #ffd700;
	font-family: Arial;
	font-size: 48px;
	font-weight: bold;
	text-decoration: none;
}
#caja_tex1 .blogcomments,
#caja_tex1 .blogcomments a:link,
#caja_tex1 .blogcomments a:visited,
#caja_tex1 .blogcomments a:hover {
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	text-decoration: underline;
}
#caja_tex1 .blogcomments {
	text-decoration: none;
}
#caja_tex1 .no-thumb {
	display: none;
}
#caja_tex1 .blogsubject {
	display: block;
	margin: 0;
	padding: 0;
}
#caja_tex1 .blogthumb {
	float: right;
	margin: 0 0 5px 0;
	padding: 0 5px 0 0;
}
#caja_tex1 .blogthumb img {
	border-width: 0px;
	height: auto;
	margin: 0px 0px 0px 0px;
	width: 120px;
}
#caja_tex1 .blogdate,
#caja_tex1 .blogcomments {
	display: none;
}
#caja_tex1 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	font-family: Arial;
	font-weight: normal;
	margin: 0;
}
#wb_img1_caja1 {
	height: 100%;
	margin: 0;
	vertical-align: top;
}
#img1_caja1 {
	-moz-animation: slide-up-in 1500ms linear 0ms 1 alternate both;
	-webkit-animation: slide-up-in 1500ms linear 0ms 1 alternate both;
	animation: slide-up-in 1500ms linear 0ms 1 alternate both;
	border: 0px solid #000000;
	box-sizing: border-box;
	display: block;
	height: 100%;
	object-fit: cover;
	padding: 0;
	vertical-align: top;
	width: 100%;
}
#wb_LayoutGrid1 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid1 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
}
#LayoutGrid1 > .col-1 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid1 > .col-1 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid1 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 100%;
	justify-content: flex-start;
	max-width: 100%;
	text-align: left;
}
@media (max-width: 480px) {
	#LayoutGrid1 > .col-1 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_boton_megusta1 .ui-widget {
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
}
#wb_boton_megusta1 {
	margin: 0px 5px 10px 0px;
}
#wb_boton_megusta1 .ui-button {
	line-height: 35px;
	margin: 0;
	padding: 0;
}
#wb_boton_megusta1 .ui-corner-all,
#wb_boton_megusta1 .ui-corner-left {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
#wb_boton_megusta1 .ui-corner-all,
#wb_boton_megusta1 .ui-corner-right {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
#wb_boton_megusta1 .ui-button {
	background-color: #f6f6f6;
	background-image: none;
	border: 1px solid #c5c5c5;
	color: #000000;
}
#wb_boton_megusta1 .ui-state-hover,
#wb_boton_megusta1 .ui-button:hover {
	background-color: #ededed;
	background-image: none;
	border-color: #dcdcdc;
	color: #000000;
}
#wb_boton_megusta1 .ui-state-active,
#wb_boton_megusta1 .ui-button:active,
#wb_boton_megusta1 .ui-state-active:hover {
	background-color: #ffd700;
	background-image: none;
	border-color: #ffd700;
	color: #000000;
}
#wb_boton_megusta1 .ui-button .ui-icon {
	background-image: url(images/landing-boton_megusta1-default.png);
	background-position: 0 0;
}
#wb_boton_megusta1 .ui-button:hover .ui-icon {
	background-image: url(images/landing-boton_megusta1-hover.png);
	background-position: 0 0;
}
#wb_boton_megusta1 .ui-button:active .ui-icon {
	background-image: url(images/landing-boton_megusta1-active.png);
	background-position: 0 0;
}
#wb_boton_megusta1 .ui-visual-focus {
	box-shadow: none;
}
#wb_caja_diseño2 {
	background-color: #f2f2f2;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#caja_diseño2 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#caja_diseño2 > .col-1,
#caja_diseño2 > .col-2,
#caja_diseño2 > .col-3 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
#caja_diseño2 > .col-1,
#caja_diseño2 > .col-2,
#caja_diseño2 > .col-3 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#caja_diseño2 > .col-1 {
	-webkit-align-self: flex-start;
	-webkit-justify-content: flex-start;
	align-self: flex-start;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 16.66666667%;
	justify-content: flex-start;
	max-width: 16.66666667%;
	text-align: left;
}
#caja_diseño2 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 66.66666667%;
	justify-content: center;
	max-width: 66.66666667%;
	text-align: center;
}
#caja_diseño2 > .col-3 {
	-webkit-align-self: flex-start;
	-webkit-justify-content: flex-start;
	align-self: flex-start;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 16.66666667%;
	justify-content: flex-start;
	max-width: 16.66666667%;
	text-align: left;
}
@media (max-width: 0px) {
	#caja_diseño2 > .col-1,
	#caja_diseño2 > .col-2,
	#caja_diseño2 > .col-3 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#WrapText1 {
	background-color: #dbeafd;
	background-image: none;
}
#WrapText1 {
	box-sizing: border-box;
	margin: 0;
	padding: 30px 30px 10px 30px;
}
.WrapText1 {
	border-width: 0px;
	color: #000000;
	font-family: Arial;
	font-size: 14.8px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2;
	text-align: left;
}
#WrapText1-float {
	float: left;
	font-size: 0px;
}
#wb_caja_diseño4 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#caja_diseño4 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#caja_diseño4 > .col-1,
#caja_diseño4 > .col-2,
#caja_diseño4 > .col-3 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}
#caja_diseño4 > .col-1,
#caja_diseño4 > .col-2,
#caja_diseño4 > .col-3 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#caja_diseño4 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 33.33333333%;
	justify-content: center;
	max-width: 33.33333333%;
	text-align: center;
}
#caja_diseño4 > .col-1 > .col-1-padding {
	padding: 10px 0px 0px 0px;
}
#caja_diseño4 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 33.33333333%;
	justify-content: center;
	max-width: 33.33333333%;
	text-align: center;
}
#caja_diseño4 > .col-2 > .col-2-padding {
	padding: 10px 0px 0px 0px;
}
#caja_diseño4 > .col-3 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 33.33333333%;
	justify-content: center;
	max-width: 33.33333333%;
	text-align: center;
}
#caja_diseño4 > .col-3 > .col-3-padding {
	padding: 10px 0px 0px 0px;
}
@media (max-width: 800px) {
	#caja_diseño4 > .col-1,
	#caja_diseño4 > .col-2,
	#caja_diseño4 > .col-3 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_logo_robotic2 {
	margin: 0;
	vertical-align: top;
}
#logo_robotic2 {
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 3px 5px rgba(211, 211, 211, 0.6);
	box-sizing: border-box;
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 80px;
	padding: 0;
	vertical-align: top;
	width: 100%;
}
#wb_logo_robotic3 {
	margin: 0;
	vertical-align: top;
}
#logo_robotic3 {
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 3px 5px rgba(211, 211, 211, 0.6);
	box-sizing: border-box;
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 80px;
	padding: 0;
	vertical-align: top;
	width: 100%;
}
#wb_logo_robotic1 {
	margin: 0;
	vertical-align: top;
}
#logo_robotic1 {
	border: 0px solid #000000;
	border-radius: 10px;
	box-shadow: 0px 3px 5px rgba(192, 192, 192, 0.6);
	box-sizing: border-box;
	display: block;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 80px;
	padding: 0;
	vertical-align: top;
	width: 100%;
}
#caja_tex3 {
	background-color: transparent;
	border: 1px solid #000000;
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	position: relative;
	text-align: center;
	width: 100%;
}
#caja_tex3 .blogitem {
	margin-bottom: 6px;
	padding: 20px;
	text-align: center;
}
#caja_tex3 .blogdate {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}
#caja_tex3 .blogsubject,
#caja_tex3 .blogsubject a:link,
#caja_tex3 .blogsubject a:visited,
#caja_tex3 .blogsubject a:hover {
	color: #2477f1;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
#caja_tex3 .blogcomments,
#caja_tex3 .blogcomments a:link,
#caja_tex3 .blogcomments a:visited,
#caja_tex3 .blogcomments a:hover {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
#caja_tex3 .blogcomments {
	text-decoration: none;
}
#caja_tex3 .no-thumb {
	display: none;
}
#caja_tex3 .blogsubject {
	display: block;
	margin: 0;
	padding: 0;
}
#caja_tex3 .blogthumb {
	float: right;
	margin: 0 0 5px 0;
	padding: 0 5px 0 0;
}
#caja_tex3 .blogthumb img {
	border-width: 0px;
	height: auto;
	margin: 0px 0px 0px 0px;
	width: 120px;
}
#caja_tex3 .blogdate,
#caja_tex3 .blogcomments {
	display: none;
}
#caja_tex3 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	font-family: Arial;
	font-weight: normal;
	margin: 0;
}
#caja_tex4 {
	background-color: transparent;
	border: 1px solid #000000;
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	position: relative;
	text-align: center;
	width: 100%;
}
#caja_tex4 .blogitem {
	margin-bottom: 6px;
	padding: 20px;
	text-align: center;
}
#caja_tex4 .blogdate {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}
#caja_tex4 .blogsubject,
#caja_tex4 .blogsubject a:link,
#caja_tex4 .blogsubject a:visited,
#caja_tex4 .blogsubject a:hover {
	color: #2477f1;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
#caja_tex4 .blogcomments,
#caja_tex4 .blogcomments a:link,
#caja_tex4 .blogcomments a:visited,
#caja_tex4 .blogcomments a:hover {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
#caja_tex4 .blogcomments {
	text-decoration: none;
}
#caja_tex4 .no-thumb {
	display: none;
}
#caja_tex4 .blogsubject {
	display: block;
	margin: 0;
	padding: 0;
}
#caja_tex4 .blogthumb {
	float: right;
	margin: 0 0 5px 0;
	padding: 0 5px 0 0;
}
#caja_tex4 .blogthumb img {
	border-width: 0px;
	height: auto;
	margin: 0px 0px 0px 0px;
	width: 120px;
}
#caja_tex4 .blogdate,
#caja_tex4 .blogcomments {
	display: none;
}
#caja_tex4 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	font-family: Arial;
	font-weight: normal;
	margin: 0;
}
#caja_tex2 {
	background-color: transparent;
	border: 1px solid #000000;
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.2;
	margin: 0;
	position: relative;
	text-align: center;
	width: 100%;
}
#caja_tex2 .blogitem {
	margin-bottom: 6px;
	padding: 20px;
	text-align: center;
}
#caja_tex2 .blogdate {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}
#caja_tex2 .blogsubject,
#caja_tex2 .blogsubject a:link,
#caja_tex2 .blogsubject a:visited,
#caja_tex2 .blogsubject a:hover {
	color: #2477f1;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
#caja_tex2 .blogcomments,
#caja_tex2 .blogcomments a:link,
#caja_tex2 .blogcomments a:visited,
#caja_tex2 .blogcomments a:hover {
	color: #000000;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}
#caja_tex2 .blogcomments {
	text-decoration: none;
}
#caja_tex2 .no-thumb {
	display: none;
}
#caja_tex2 .blogsubject {
	display: block;
	margin: 0;
	padding: 0;
}
#caja_tex2 .blogthumb {
	float: right;
	margin: 0 0 5px 0;
	padding: 0 5px 0 0;
}
#caja_tex2 .blogthumb img {
	border-width: 0px;
	height: auto;
	margin: 0px 0px 0px 0px;
	width: 120px;
}
#caja_tex2 .blogdate,
#caja_tex2 .blogcomments {
	display: none;
}
#caja_tex2 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #000000;
	font-family: Arial;
	font-weight: normal;
	margin: 0;
}
#wb_img1_caja2 {
	transform-origin: 50% 50%;
	transform: rotate(0deg);
}
#img1_caja2 {
	border-width: 0;
	vertical-align: top;
}
#wb_LayoutGrid9 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid9 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px 20px 0px;
}
#LayoutGrid9 > .col-1 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
}
#LayoutGrid9 > .col-1 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid9 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: flex-start;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 100%;
	justify-content: flex-start;
	max-width: 100%;
	text-align: left;
}
@media (max-width: 480px) {
	#LayoutGrid9 > .col-1 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_ThemeableButton1 .ui-widget {
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
}
#wb_ThemeableButton1 {
	margin: 0px 5px 10px 0px;
}
#wb_ThemeableButton1 .ui-button {
	line-height: 35px;
	margin: 0;
	padding: 0;
}
#wb_ThemeableButton1 .ui-corner-all,
#wb_ThemeableButton1 .ui-corner-left {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
#wb_ThemeableButton1 .ui-corner-all,
#wb_ThemeableButton1 .ui-corner-right {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
#wb_ThemeableButton1 .ui-button {
	background-color: #f6f6f6;
	background-image: none;
	border: 1px solid #c5c5c5;
	color: #f5f5f5;
}
#wb_ThemeableButton1 .ui-state-hover,
#wb_ThemeableButton1 .ui-button:hover {
	background-color: #ededed;
	background-image: none;
	border-color: #dcdcdc;
	color: #000000;
}
#wb_ThemeableButton1 .ui-state-active,
#wb_ThemeableButton1 .ui-button:active,
#wb_ThemeableButton1 .ui-state-active:hover {
	background-color: #193eb0;
	background-image: none;
	border-color: #193eb0;
	color: #ffffff;
}
#wb_ThemeableButton1 .ui-button .ui-icon {
	background-image: url(images/landing-ThemeableButton1-default.png);
	background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:hover .ui-icon {
	background-image: url(images/landing-ThemeableButton1-hover.png);
	background-position: 0 0;
}
#wb_ThemeableButton1 .ui-button:active .ui-icon {
	background-image: url(images/landing-ThemeableButton1-active.png);
	background-position: 0 0;
}
#wb_ThemeableButton1 .ui-visual-focus {
	box-shadow: none;
}
#wb_Card1 {
	-webkit-flex-direction: column;
	background-color: #ffffff;
	background-image: none;
	border: 0px solid #dedede;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(169, 169, 169, 0.2);
	box-sizing: border-box;
	display: inline-block;
	flex-direction: column;
	margin: 20px 10px 20px 10px;
	padding: 0;
	position: relative;
	text-align: center;
}
#Card1-card-body {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: 0px;
}
#Card1-card-overlay {
	position: relative;
}
#Card1-card-item0 {
	border: 0px solid #000000;
	border-radius: 0px;
	border-radius: 15px 15px 0 0;
	box-sizing: border-box;
	left: 0;
	margin: -140px 50px 100px 50px;
	padding: 0;
	position: absolute;
	top: 0;
	width: calc(100% - 100px);
	z-index: -1;
}
#Card1-card-item1 {
	box-sizing: border-box;
	color: #696969;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	margin: 60px 0px 10px 0px;
	padding: 0;
}
#Card1-card-item2 {
	box-sizing: border-box;
	color: #282828;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	margin: 5px 10px 15px 10px;
	padding: 10px 10px 10px 10px;
}
#Card1-card-item3 {
	background-color: #193eb0;
	background-image: none;
	border: 1px solid #ffffff;
	border-radius: 0 0 15px 15px;
	border-radius: 3px;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	height: 48px;
	margin: 0px 0px 50px 0px;
	padding: 15px 30px 15px 30px;
}
#Card1-card-item3 i {
	font-size: 16px;
	text-align: center;
	width: 16px;
}
#wb_Card2 {
	-webkit-flex-direction: column;
	background-color: #ffffff;
	background-image: none;
	border: 0px solid #dedede;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(169, 169, 169, 0.2);
	box-sizing: border-box;
	display: inline-block;
	flex-direction: column;
	margin: 20px 10px 20px 10px;
	padding: 0;
	position: relative;
	text-align: center;
}
#Card2-card-body {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: 0px;
}
#Card2-card-overlay {
	position: relative;
}
#Card2-card-item0 {
	border: 0px solid #000000;
	border-radius: 0px;
	border-radius: 15px 15px 0 0;
	box-sizing: border-box;
	left: 0;
	margin: -140px 50px 100px 50px;
	padding: 0;
	position: absolute;
	top: 0;
	width: calc(100% - 100px);
	z-index: -1;
}
#Card2-card-item1 {
	box-sizing: border-box;
	color: #696969;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	margin: 60px 0px 10px 0px;
	padding: 0;
}
#Card2-card-item2 {
	box-sizing: border-box;
	color: #282828;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	margin: 5px 10px 15px 10px;
	padding: 10px 10px 10px 10px;
}
#Card2-card-item3 {
	background-color: #193eb0;
	background-image: none;
	border: 1px solid #ffffff;
	border-radius: 0 0 15px 15px;
	border-radius: 3px;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	height: 48px;
	margin: 0px 0px 50px 0px;
	padding: 15px 30px 15px 30px;
}
#Card2-card-item3 i {
	font-size: 16px;
	text-align: center;
	width: 16px;
}
#wb_Card3 {
	-webkit-flex-direction: column;
	background-color: #ffffff;
	background-image: none;
	border: 0px solid #dedede;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(169, 169, 169, 0.2);
	box-sizing: border-box;
	display: inline-block;
	flex-direction: column;
	margin: 20px 10px 20px 10px;
	padding: 0;
	position: relative;
	text-align: center;
}
#Card3-card-body {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	font-size: 0px;
}
#Card3-card-overlay {
	position: relative;
}
#Card3-card-item0 {
	border: 0px solid #000000;
	border-radius: 0px;
	border-radius: 15px 15px 0 0;
	box-sizing: border-box;
	left: 0;
	margin: -140px 50px 100px 50px;
	padding: 0;
	position: absolute;
	top: 0;
	width: calc(100% - 100px);
	z-index: -1;
}
#Card3-card-item1 {
	box-sizing: border-box;
	color: #696969;
	font-family: Arial;
	font-size: 17px;
	font-weight: bold;
	margin: 60px 0px 10px 0px;
	padding: 0;
}
#Card3-card-item2 {
	box-sizing: border-box;
	color: #282828;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	margin: 5px 10px 15px 10px;
	padding: 10px 10px 10px 10px;
}
#Card3-card-item3 {
	background-color: #193eb0;
	background-image: none;
	border: 1px solid #ffffff;
	border-radius: 0 0 15px 15px;
	border-radius: 3px;
	box-sizing: border-box;
	color: #ffffff;
	display: inline-block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	height: 48px;
	margin: 0px 0px 50px 0px;
	padding: 15px 30px 15px 30px;
}
#Card3-card-item3 i {
	font-size: 16px;
	text-align: center;
	width: 16px;
}
#container4 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#wb_LayoutGrid3 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid3 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#LayoutGrid3 > .col-1,
#LayoutGrid3 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid3 > .col-1,
#LayoutGrid3 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid3 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#LayoutGrid3 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
@media (max-width: 480px) {
	#LayoutGrid3 > .col-1,
	#LayoutGrid3 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#container5 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#wb_LayoutGrid4 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid4 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid4 > .col-1,
#LayoutGrid4 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid4 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#LayoutGrid4 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
@media (max-width: 480px) {
	#LayoutGrid4 > .col-1,
	#LayoutGrid4 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#container6 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#wb_LayoutGrid5 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid5 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#LayoutGrid5 > .col-1,
#LayoutGrid5 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid5 > .col-1,
#LayoutGrid5 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid5 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#LayoutGrid5 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
@media (max-width: 480px) {
	#LayoutGrid5 > .col-1,
	#LayoutGrid5 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#container7 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#wb_LayoutGrid6 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid6 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#LayoutGrid6 > .col-1,
#LayoutGrid6 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid6 > .col-1,
#LayoutGrid6 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid6 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#LayoutGrid6 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
@media (max-width: 480px) {
	#LayoutGrid6 > .col-1,
	#LayoutGrid6 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#container8 {
	-webkit-align-content: flex-start;
	-webkit-align-items: center;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0px;
	justify-content: space-around;
	margin: 0;
	padding: 10px 10px 10px 10px;
	position: relative;
}
#wb_LayoutGrid7 {
	background-color: transparent;
	background-image: none;
	border: 0px solid #cccccc;
	box-sizing: border-box;
	clear: both;
	display: table;
	margin: 0;
	position: relative;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#LayoutGrid7 {
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
#LayoutGrid7 > .col-1,
#LayoutGrid7 > .col-2 {
	box-sizing: border-box;
	font-size: 0px;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
#LayoutGrid7 > .col-1,
#LayoutGrid7 > .col-2 {
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}
#LayoutGrid7 > .col-1 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
#LayoutGrid7 > .col-2 {
	-webkit-align-self: center;
	-webkit-justify-content: center;
	align-self: center;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ffffff;
	flex-basis: 50%;
	justify-content: center;
	max-width: 50%;
	text-align: center;
}
@media (max-width: 480px) {
	#LayoutGrid7 > .col-1,
	#LayoutGrid7 > .col-2 {
		-webkit-flex-basis: 100% !important;
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
}
#wb_Card3 {
	display: inline-block;
	height: 309px;
	text-align: center;
	width: 221px;
	z-index: 32;
}
#wb_logo_robotic2 {
	display: inline-block;
	height: auto;
	width: 100%;
	z-index: 10;
}
#wb_uid1 {
	color: #ffffff;
}
#wb_logo_robotic3 {
	display: inline-block;
	height: auto;
	width: 100%;
	z-index: 12;
}
#wb_img1_caja1 {
	display: inline-block;
	height: auto;
	width: 100%;
	z-index: 6;
}
#wb_uid2 {
	height: 100%;
	width: 100%;
}
#wb_ThemeableButton1 {
	display: inline-block;
	height: 37px;
	width: 126px;
	z-index: 18;
}
#wb_uid3 {
	color: #505050;
}
#wb_img1_caja2 {
	display: inline-block;
	height: 637px;
	position: relative;
	width: 148px;
	z-index: 7;
}
#wb_Image1 {
	display: inline-block;
	width: 568px;
	z-index: 21;
}
#wb_uid4 {
	color: #505050;
}
#wb_uid5 {
	color: #505050;
}
#wb_uid6 {
	color: #000000;
}
#wb_uid7 {
	color: #ffffff;
}
#wb_uid8 {
	color: #696969;
}
#wb_uid10 {
	color: #696969;
}
#wb_uid9 {
	color: #696969;
}
#img1_caja2 {
	height: 637px;
	width: 148px;
}
#wb_IconFont2 {
	display: inline-block;
	height: 22px;
	text-align: center;
	width: 30px;
	z-index: 2;
}
#wb_uid11 {
	height: 100%;
	width: 100%;
}
#WrapText1 {
	display: block;
	overflow: hidden;
	width: 100%;
}
#caja_tex1 {
	overflow: hidden;
}
#caja_tex2 {
	overflow: hidden;
}
#caja_tex3 {
	overflow: hidden;
}
#wb_ThemeableMenu2 {
	display: inline-block;
	width: 100%;
	z-index: 1001;
}
#wb_Card1 {
	display: inline-block;
	height: 309px;
	text-align: center;
	width: 221px;
	z-index: 30;
}
#caja_tex4 {
	overflow: hidden;
}
#wb_Card2 {
	display: inline-block;
	height: 309px;
	text-align: center;
	width: 221px;
	z-index: 31;
}
#caja_tex5 {
	overflow: hidden;
}
#wb_logo_robotic1 {
	display: inline-block;
	height: auto;
	width: 100%;
	z-index: 8;
}
#wb_boton_megusta1 {
	display: inline-block;
	height: 37px;
	width: 126px;
	z-index: 3;
}
#wb_uid0 {
	color: #000000;
}
#wb_Heading1 {
	display: inline-block;
	width: 100%;
	z-index: 0;
}
